@use "../../../styles/variables" as v;
.slider{
/*     .carousel-caption{
        top: 50%;
        bottom: auto;
        width: 50%;
        transform: translateY(-50%); 
    }*/
    
    

    /* p{
        @media (min-width:768px) { //burayi ayarlarsin.
            display: block;
        }
    } */
    
}